@font-face {
  font-family: 'LibreBaskerville';
  src: local('LibreBaskerville'), url(../fonts/LibreBaskerville-Regular.ttf) format('truetype');
}

.text {
  font-family:"LibreBaskerville";
  margin: 1rem;
  font-size: 0.9rem;
  line-height: 175%;
}

.innerContainer {
  display: flex;
}

.halfDiv {
  width: 50%;
}

.pLink {
  color: var(--green);
  text-decoration: none;
}

.pLink:visited {
  color: var(--green);
}

.pLink:hover {
  color: var(--bright-green);
}
