@font-face {
  font-family: 'LibreBaskerville';
  src: local('LibreBaskerville'), url(../fonts/LibreBaskerville-Regular.ttf) format('truetype');
}

.text {
  font-family:"LibreBaskerville";
  margin: 1rem;
  font-size: 0.9rem;
  line-height: 175%;
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.halfDiv {
  width: 50%;
  max-width: 600px;
}

.pLink {
  color: var(--green);
  text-decoration: none;
}

.pLink:visited {
  color: var(--green);
}

.pLink:hover {
  color: var(--bright-green);
}

.perpendicularPic {
  border: solid;
  border-width: 3px;
  border-color: #ebdbb2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.penguinPic {
  width: 132px;
  image-rendering: pixelated;
}

.foxGrovePic {
  border: solid;
  border-width: 3px;
  border-color: #ebdbb2;

  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.csfPic {
  border: solid;
  border-width: 3px;
  border-color: #d79921;
  padding: 10px;
  width: 300px;
}


.imageBox {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 40px);

  align-items: center;
  justify-content: space-between;
}

.quarterBox {
  margin: 10px;
  width: calc(50% - 20px);
  text-align: center;
}

@media (max-width: 1600px) {
 .quarterBox {
   width: auto;
 }
}

@media (max-width: 870px) {
 .halfDiv {
  width: 100%;
 }
 .imageBox {
  width: 100%;
  justify-content: center;
 }
}
