/* https://github.com/morhetz/gruvbox */

:root {
    --bg-color: #282828;
    --fg-color: #ebdbb2;

    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #a89984;

    --bright-gray: #928374;
    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-purple: #d3869b;
    --bright-aqua: #8ec07c;
    --orange: #d65d0e;
    --bright-orange: #f38019;

    --bg0_h-color: #1d2021;
    --bg0_s-color: #32302f;
    --bg1-color: #3c3836;
    --bg2-color: #504945;
    --bg3-color: #665c54;
    --bg4-color: #7c6f64;

    --fg1-color: #fbf1c7;
    --fg2-color: #d5c4a1;
    --fg3-color: #bdae93;
    --fg4-color: #a89984;
}

[data-theme="light"] {
    --bg-color: #fbf1c7;
    --fg-color: #3c3836;

    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #a89984;

    --bright-gray: #928374;
    --bright-red: #fb4934;
    --bright-green: #b8bb26;
    --bright-yellow: #fabd2f;
    --bright-blue: #83a598;
    --bright-purple: #d3869b;
    --bright-aqua: #8ec07c;
    --orange: #d65d0e;
    --bright-orange: #f38019;

    --bg0_h-color: #1d2021;
    --bg0_s-color: #32302f;
    --bg1-color: #3c3836;
    --bg2-color: #504945;
    --bg3-color: #665c54;
    --bg4-color: #7c6f64;

    --fg1-color: #fbf1c7;
    --fg2-color: #d5c4a1;
    --fg3-color: #bdae93;
    --fg4-color: #a89984;
}

body {
  background-color: #3c3836;
  color: #ebdbb2;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  background-color: #282828;
  border-style: solid;
  border-width: 1px;
  border-color: var(--fg-color);

  position: relative;
  display: flex;
  flex-direction: column;
  margin: 16px;
  height: calc(100vh - 34px);
}

a {
  color: var(--bg1-color);
}

@media (max-width: 500px) {
  .container {
    margin: 0px;
    height: auto;
  }	  
}
